@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
}
.active, header ul li a:hover{
    background: #ffffff;
    color:#2b1055;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
}
.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.moon-img{
    mix-blend-mode: screen;
}
.mountains-behind{
    z-index: 2;
}
.mountains-front{
    z-index: 5;
}
.heading{
    position: absolute;
    right: -350px;
    color: #ffffff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 3;
}
.btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #ffffff;
    color:#2b1055;
    font-size: 1.5em;
    z-index: 3;
    transform: translateY(100px);
}
#section-text{
    position: relative;
    padding: 100px;
    background-color: #1c0522;
}
.section-heading{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #ffffff;
}
.par{
    color:#ffffff;
    font-size: 1em;
}